
{:paths ["src"]
 :deps {; Includes my https://github.com/metasoarous/oz/pull/187
        metasoarous/oz {:git/url "https://github.com/metasoarous/oz.git"
                        :git/sha "d5d490d21ea8d42740b09def2abab7c334d52520"
                        :exclusions [clojupyter/clojupyter]}
        binaryage/devtools {:mvn/version "1.0.5"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        reagent/reagent {:mvn/version "1.1.0"}
        cljfmt/cljfmt {:mvn/version "0.8.0"}
        metosin/spec-tools {:mvn/version "0.10.5"}
        metosin/malli {:git/url "https://github.com/metosin/malli.git"
                       :git/sha "005dfd2868518918b3b1b0ce83f51fbb6b1e4b37"}
        kixi/stats {:mvn/version "0.5.5"}
        cider/cider-nrepl {:mvn/version "0.24.0"}
        org.clojars.frozenlock/reagent-table {:mvn/version "0.1.6"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}}
 :aliases
 {:shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.27.5"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
