; Run :ConjureShadowSelect app in nvim to use repl.
; A browser must be loaded with project code for this to work.
{:deps true
 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :js-options {:js-provider :external
                :external-index "target/index.js"}
   :modules    {:app {:entries [app.core]}}
   :dev {:compiler-options {:external-config
                            {:ghostwheel {}}}}
   :devtools   {:preloads [devtools.preload]
                :after-load-async ghostwheel.core/post-check-async
                :after-load app.core/mount-root}}
  :test
  {:target :browser-test
   :js-options {:js-provider :external
                :external-index "target/index.js"}
   :test-dir "out/test"
   :ns-regexp "test"}}

 :dev-http
 {8021 "out/test"
  3000 {:root    "public"
        :handler user/app}}}
